# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
dist_release/
out/
build/
*.zip
.history/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Project Specific
.env
=Resources=/

# Local overrides (do not commit)
web_ui/quotes.local.json